*{ margin:0; padding:0;}/*去掉所有标签外边距和内填充*/
body{ font-family:"宋体"; color:#000000; width: 960px; margin: 0 auto}/*网页主体字体：宋体，颜色，网页宽，上外边距为0，左右自动居中*/
ul li{ list-style:none inside;}/*所有无序列表项去掉项目符号，向内*/
p,a,li,dt,dd{font-size: 14px;}/*段落，超链接，自定义列表字号12像素*/
input,select,textarea{ vertical-align:middle;}/**/
img{ border:none; vertical-align:middle;}/*所有图片去掉边框*/
a{ text-decoration:none; color:#333333;}/*所有超链接去掉下划线，颜色*/
a:hover{ color:#db0010;}/*所有超链接鼠标悬停改变颜色*/


.nav{width: 960px;height: 100px;}
.nav img{float: left;}
.nav ul li{float: left;line-height: 100px;width: 93px;}
.nav a{font-weight: 700;}


.main{margin-top: 35px;}
.main tr{text-align: center;background: #fff;}
.main .lv{color: #7be67b;}
.main .hong{color: #f7737b;}
.main p{line-height: 30px;text-indent: 2em;margin-top: 25px;font-weight: 700;}
.main ul{margin-left: 20px;margin-top: 25px;}
.main ul li{list-style:disc inside;line-height: 30px;color: #0000ef}
.main a{color: #0000ef;text-decoration: underline;}
